name: {{pkg}}
version: 0.1.0
description: Simple annotation demo

dependencies:
  yaml: {{version.yaml}}

dev_dependencies:
  analyzer: {{version.analyzer}}
  build: {{version.build}}
  build_runner: {{version.build_runner}}
  build_verify: {{version.build_verify}}
  source_gen: {{version.source_gen}}
  test: {{version.test}}

environment:
  sdk: {{version.sdk}}
